<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yume.mapper.ThirdGoalMapper">

	<insert id="createThirdGoal">
		INSERT INTO thirdgoal (third_mem_num, third_m_num, third_second_num, third_content, third_type, third_createDate, third_updateDate, third_good) 
		VALUES (#{third_mem_num}, #{third_m_num}, #{third_second_num}, #{third_content}, #{third_type}, #{third_createDate}, #{third_updateDate}, #{third_good});
	</insert>
	
	<select id="readThirdGoal" resultType="com.yume.domain.ThirdGoalVO">
		select * from thirdgoal where third_num = #{third_num}
	</select>
	
	<update id="updateThirdGoal">
		UPDATE thirdgoal SET 
		third_content=#{third_content},
		third_type=#{third_type},
		third_updateDate=#{third_updateDate},
		third_good=#{third_good},
		third_dateOfActive=#{third_dateOfActive} 
		WHERE third_num=#{third_num};
	</update>
	
	<delete id="deleteThirdGoal">
		delete from thirdgoal where third_num = #{third_num}
	</delete>
	
	<select id="listThirdGoal" resultType="com.yume.domain.ThirdGoalVO">
		select * from thirdgoal group by third_num
	</select>
</mapper>  